{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block breadcrumbs %}
    {% include 'default/_breadcrumbs.html.twig' with {
        'items': [
            {'name': 'Profile', 'url': path('app_user_profile_show')},
        ]
    } %}
{% endblock %}

{% block content %}

    <div class="border-t border-gray-100 mb-4">
        <div class="p-4 bg-gray-50 rounded-lg" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="border-t border-gray-100 max-w-2xl">
                <dl class="divide-y divide-gray-100">
                    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-900">Name</dt>
                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ user.name }}</dd>
                    </div>
                    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-900">Email</dt>
                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ user.email }}</dd>
                    </div>
                    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-900">Avatar</dt>
                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                            {% if app.user.avatar %}
                                <img class="w-24" src="{{ path('app_user_show_avatar') }}" alt="{{ app.user.name }}">
                            {% else %}
                                <img class="w-24" src="{{ asset('images/avatar.svg') }}" alt="{{ app.user.name }}">
                            {% endif %}
                        </dd>
                    </div>
                    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-900">Created</dt>
                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ user.createdAt|date('Y/m/d H:i:s') }}</dd>
                    </div>
                    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-900">Updated</dt>
                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ user.updatedAt|date('Y/m/d H:i:s') }}</dd>
                    </div>
                </dl>
            </div>

            {% include 'components/_divider_with_buttons.html.twig' with {
                'edit': path('app_user_profile_show_edit', {'id': user.id}),
            } %}
        </div>
    </div>

    {% include 'components/_back_button.html.twig' with {'path': path('app_default'), 'label': 'Back to the Dashboard'} %}

{% endblock %}


