{% if pageCount > 1 %}
    <div class="text-center">
        <span class="text-sm text-gray-700">
            Showing <span class="font-semibold text-gray-900">{{ firstItemNumber }}</span> to <span class="font-semibold text-gray-900">{{ lastItemNumber }}</span> of <span class="font-semibold text-gray-900">{{totalCount}}</span> Entries
        </span>
        <div class="flex justify-center">
            {% if previous is defined %}
                <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}" class="inline-flex m-2 items-center justify-center px-4 py-2 text-sm text-gray-700 transition-colors duration-200 bg-white border rounded-lg gap-x-2 hover:bg-gray-50">
                    <svg class="w-5 h-5 rtl:rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
                    </svg>
                    Previous
                </a>
            {% endif %}

            {% if next is defined %}
                <a href="{{ path(route, query|merge({(pageParameterName): next})) }}" class="inline-flex m-2 items-center justify-center px-4 py-2 text-sm text-gray-700 transition-colors duration-200 bg-white border rounded-lg gap-x-2 hover:bg-gray-50">
                    Next
                    <svg class="w-5 h-5 rtl:rotate-180" transform="scale(-1 1)" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
                    </svg>
                </a>
            {% endif %}
        </div>
    </div>
{% endif %}
