{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="grid grid-cols-2 gap-24">
        <div>
            <h3 class="text-lg font-bold">Recent Prompt Runs</h3>
            <hr class="mb-2"/>
            {% if lastPrompts is empty %}
                <a href="{{ path('app_prompt_new') }}"
                   class="relative block w-full rounded-lg border-2 border-dashed border-gray-300 p-6 text-center hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                    <iconify-icon icon="bi:collection"
                                  class="mx-auto h-24 w-24 text-[80px] text-gray-400"></iconify-icon>
                    <span class="mt-2 block text-sm font-semibold text-gray-900">Create and Run Your First Prompt</span>
                </a>
            {% else %}
                <ul role="list" class="divide-y divide-gray-100">
                    {% for prompt in lastPrompts %}
                        {{ include('prompt/_prompt.html.twig', {'prompt': prompt, 'prompt_length': 50}) }}
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div>
            <h3 class="text-lg font-bold">Favorite Prompt Templates</h3>
            <hr class="mb-2"/>
            {% if favoritePromptTemplates is empty %}
                <a href="{{ path('app_prompt_template_new') }}"
                   class="relative block w-full rounded-lg border-2 border-dashed border-gray-300 p-6 text-center hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                    <iconify-icon icon="bi:collection"
                                  class="mx-auto h-24 w-24 text-[80px] text-gray-400"></iconify-icon>
                    <span class="mt-2 block text-sm font-semibold text-gray-900">Create and Favorite Your First Prompt Template</span>
                </a>
            {% else %}
                <ul role="list" class="mt-3 grid grid-cols-1 gap-5 sm:gap-6">
                    {% for prompt_template in favoritePromptTemplates %}
                        {% include 'prompt_template/_prompt_template.html.twig' with {'prompt_template': prompt_template} %}
                    {% endfor %}
                </ul>
            {% endif %}

            <h3 class="mt-12 text-lg font-bold">Favorite Collections</h3>
            <hr class="mb-2"/>
            {% if favoriteCollections is empty %}
                <a href="{{ path('app_collection_new') }}"
                   class="relative block w-full rounded-lg border-2 border-dashed border-gray-300 p-6 text-center hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                    <iconify-icon icon="bi:collection"
                                  class="mx-auto h-24 w-24 text-[80px] text-gray-400"></iconify-icon>
                    <span class="mt-2 block text-sm font-semibold text-gray-900">Create and Favorite Your First Collection</span>
                </a>
            {% else %}
                <ul role="list" class="mt-0 grid grid-cols-1">
                    {% for collection in favoriteCollections %}
                        {% include 'collection/_collection.html.twig' with {'collection': collection} %}
                    {% endfor %}
                </ul>
            {% endif %}

            <h3 class="mt-12 text-lg font-bold">Shared Collections</h3>
            <hr class="mb-2"/>
            {% if sharedCollections is empty %}
                <div class="relative block w-full rounded-lg border-2 border-gray-300 p-12 text-center">
                    <span class="mt-2 block text-sm font-semibold text-gray-900">Currently, your shared collections are like an empty inbox – nothing’s arrived yet!</span>
                </div>
            {% else %}
                <ul role="list" class="mt-0 grid grid-cols-1">
                    {% for shared_collection in sharedCollections %}
                        {% include 'shared_collection/_shared_collection.html.twig' with {'collection': shared_collection.collection} %}
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}

    {% block javascripts %}
        {% if lastPrompts|length > 0 %}
            {{ parent() }}
            {% include 'js/_prompt_updated_listener.html.twig' with {'prompts': lastPrompts} %}
        {% endif %}
    {% endblock %}
